<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Edit Recipe Form</title>


</head>
<body>
<div id="container">
    <table>
        <thead>
        <tr>
            <th>Description</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tr th:each="ingredient : ${recipe.ingredients}">
            <td th:text="${ingredient.amount} + ' ' + ${ingredient.description}"></td>
            <td><a th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/update'}">Update</a></td>
            <td><a th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/delete'}">Delete</a></td>

        </tr>


    </table>
</div>



</body>
</html>
