<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Recipe Home</title>

    <link rel="stylesheet" href="/dist/css/main.css" />

    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
            integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
            integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
            crossorigin="anonymous"
    />
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"
    ></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <a href="index.html" class="navbar-brand">RecipeRepo</a>
        <button
                class="navbar-toggler"
                data-toggle="collapse"
                data-target="#navbarCollapse"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a
                            href="#"
                            class="nav-link"
                            data-toggle="modal"
                            data-target="#loginModal"
                    >Login</a
                    >
                </li>
                <li class="nav-item">
                    <a
                            href="#"
                            class="nav-link"
                            data-toggle="modal"
                            data-target="#signUpModal"
                    >Sign Up</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- SHOWCASE SLIDER-->
<section id="showcase">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item carousel-image-1 active">
                <div class="container">
                    <div
                            class="carousel-caption d-none d-sm-block text-right mb-5
            "
                    >
                        <h1 class="display-3">Heading 1</h1>
                        <p class="lead">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Facere veritatis magni deserunt odio dicta! Saepe quisquam
                            quam veniam necessitatibus delectus.
                        </p>
                        <a href="" class="btn btn-danger btn-lg">Sign Up Now</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item carousel-image-2">
                <div class="container">
                    <div
                            class="carousel-caption d-none d-sm-block  mb-5
            "
                    >
                        <h1 class="display-3">Heading 2</h1>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Facere veritatis magni deserunt odio dicta! Saepe quisquam
                            quam veniam necessitatibus delectus.
                        </p>
                        <a href="" class="btn btn-primary btn-lg">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item carousel-image-3">
                <div class="container">
                    <div
                            class="carousel-caption d-none d-sm-block text-right mb-5
            "
                    >
                        <h1 class="display-3">Heading 3</h1>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Facere veritatis magni deserunt odio dicta! Saepe quisquam
                            quam veniam necessitatibus delectus.
                        </p>
                        <a href="" class="btn btn-success btn-lg">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a href="#myCarousel" data-slide="next" class="carousel-control-next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</section>

<!-- Login Modal-->
<div class="modal fade" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title">Login</h5>
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" name="email" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-btn success" data-dismiss="modal">
                    Login
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Sign Up Modal-->
<div class="modal fade" id="signUpModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title">Sign Up</h5>
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" name="email" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" />
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input
                                type="password"
                                class="form-control"
                                name="confirmPassword"
                        />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-btn success" data-dismiss="modal">
                    Register
                </button>
            </div>
        </div>
    </div>
</div>
<script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"
></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"
></script>

<script>
    // Get the current year for the copyright
    $("#year").text(new Date().getFullYear());
</script>
</body>
</html>
