<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>New Recipe Form</title>


</head>
<body>
<div id="container">
    <div class="form-wrap">
        <form  th:object="${recipeCommand}" th:action="@{/recipe/}" method="post">
            <!-- hidden id for update here-->

            <input type="hidden"/>
            <div class="form-group"> <label for="description">Title</label>
                <input type="text" name="description"></div>
            <div class="form-group"><label for="readyTime">Ready Time</label>
                <input type="number" name="readyTime"></div>
            <div class="form-group"><label for="servings">Servings</label>
                <input type="number" name="servings"></div>


            <div class="form-group">
                <legend> Dietary Information </legend>
                <label>Keto</label>
                <input type="checkbox" name="dietInfo" value="isKeto">
                <label>Vegan</label>
                <input type="checkbox" name="dietInfo" value="isVegan">
                <label>Healthy</label>
                <input type="checkbox" name="dietInfo" value="isHealthy">
                <label>Gluten Free</label>
                <input type="checkbox" name="dietInfo" value="isGlutenFree">
            </div>


            <button type="submit" class="btn btn-primary">Add Ingredients</button>
    </div>
    </form>
</div>
</div>



</body>
</html>
