<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel = "stylesheet" href ="/css/main.css" >

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<!--/*@thymesVar id="recipes" type="java.util.List"*/-->
<!--/*@thymesVar id="recipe" type="guru.springframework.domain.RecipeCommand"*/-->
<div class=" recipe-grid-9" style="margin-top: 20px">
    <div class="ft-recipe" th:each="recipe : ${recipes}">
        <div class="ft-recipe__thumb"></span>
            <img th:src="@{'/img/recipe/'+ ${recipe.imageString}}" alt="Strawberry Waffle"/>
        </div>
        <div class="ft-recipe__content">
            <header class="content__header">
                <div class="row-wrapper">
                    <h2 class="recipe-title" th:text="${recipe.description}">Strawberry Waffle</h2>
                    <div class="user-rating"></div>
                </div>
                <ul class="recipe-details">
                    <li class="recipe-details-item time" ><i class="ion ion-ios-clock-outline"></i><span class="value" th:text="${recipe.readyTime}">20</span><span class="title">Minutes</span></li>
                    <li class="recipe-details-item ingredients"><i class="ion ion-ios-book-outline"></i>
                    <span class="value" th:text="${recipe.numberOfIngredients}">5</span><span class="title">Ingredients</span></li>
                    <li class="recipe-details-item servings"><i class="ion ion-ios-person-outline"></i><span class="value" th:text="${recipe.servings}">4-6</span><span class="title">Servings</span></li>
                </ul>
            </header>
            <p class="description">
                There’s no better way to celebrate May being National Strawberry Month than by sharing a sweet treat with your pup!!! Strawberries...</p>
            <footer class="content__footer"><a href="#">View Recipe</a></footer>
        </div>
    </div>
</div>

</body>
</html>